<h1 class="heading">
    <img [src]="data.organization.logo" alt="" class="organization-logo">
    <span class="title">{{data.title}}</span>
    <span class="tag">{{data.tag}}</span>
</h1>

<div class="organization">
    <fa-icon [icon]="['far', 'building']"></fa-icon>
    <span>
        <a class="organization-name" [href]="data.organization.website" target="_blank">
            {{data.organization.name}}<!--
        --></a>,
        <span class="location">{{data.location}}</span>
    </span>
</div>

<div class="dates">
    <fa-icon [icon]="['far', 'calendar']"></fa-icon>
    <span>
        {{data.dates.start}} - {{data.dates.end}}
    </span>

</div>

<div class="details">
    <button class="details-heading" (click)="toggleDetails()">
        <fa-icon [icon]="['fas', 'list']"></fa-icon>
        <span>Details</span>
        <fa-icon [icon]="['fas', 'angle-right']" class="toggle-icon"></fa-icon>
    </button>
    <div class="details-content-wrapper">
        <ul class="details-content">
            <li class="detail-item" *ngFor="let item of data.details">
                <p>{{item}}</p>
            </li>
        </ul>
    </div>

</div>
