.interests {
    background: linear-gradient(45deg, var(--color-accent) 0%, var(--color-primary) 100%) ;
    padding: 1rem;
    scroll-snap-align: start;
    container: interests / inline-size;
}
.interests-heading {
    color: var(--color-secondary);
    text-align: center;
}
.interests-title {
    font-size: xx-large;
    font-weight: 800;
}
.interests-subtitle {
    font-size: small;
    font-weight: 400;
}


.card-container {
    scroll-snap-align: start;
}

.card {
    padding: 1rem;
    aspect-ratio: 47/50;
}


.timeline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--color-primary);
    padding-block: 4rem;
}


.timeline-heading {
    color: var(--color-secondary);
    font-size: xx-large;
    font-weight: 800;
    padding: 1rem;
    writing-mode: sideways-lr;
}

.timeline-content {
    display: grid;
    grid-template-areas: "a";
    flex: 1;
    margin: 1rem 0 1rem 1rem;
}



.experience-list, .education-list {
    border-radius: 16px 0 0 16px;
    background-color: var(--color-secondary);
    padding: 1rem;
    translate: 150% 0;
    grid-area: a;
    transition: translate .5s;
}



.experience-item, .education-item {
    padding-block: 1rem;
}


.experience-heading, .education-heading {
    display: block;
    opacity: .6;
    scale: .7;
    transition: scale .25s, opacity .25s;
    &:hover {
        opacity: .85;
    }
}

.experience-active .experience-heading, .education-active .education-heading{
    opacity: 1;
    scale: 1;
}



.experience-active .experience-list, .education-active .education-list{
    translate: 0;
    transition: translate .25s .25s;
}

.shuffle {
    color: var(--color-secondary);
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    right: 0;
}



