.interests {
    height: 100%;
    background: linear-gradient(45deg, var(--color-accent) 0%, var(--color-primary) 100%) ;
    padding: 1rem;
    scroll-snap-align: start;
    container: interests / inline-size;

}
.interests-heading {
    color: var(--color-secondary);
    text-align: center;
    height: 20%;
}
.interests-title {
    font-size: xx-large;
    font-weight: 800;
}
.interests-subtitle {
    font-size: small;
}


.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
}
.card {
    padding: 1rem;
    width: 100%;
    aspect-ratio: 47/50;
}


.right-arrow {
    color: var(--color-accent); 
    font-weight: 900;
    stroke-width: 2;
}

.footer {
    background-color: var(--color-primary);
    height: 25%;
    display: inline;
}

// .p {
//     display: inline-block;
//     width: 300px;
//     background-color: purple;
// }

// .c1 {
//     background-color: indianred;

//     display: inline-block;

// }
// .c2 {
//     background-color: turquoise;
//     // overflow: hidden;
//     display: inline-block;
// }


// .testing {
//     display: grid;
//     grid-auto-flow: column;
//     grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
// }

// .t1 {
//     background-color: blue;
//     height: 5rem;
// }
// .t2 {
//     background-color: red;
// }
// .t3 {
//     background-color: green;
// }
// .t4 {
//     background-color: black;
// }