<section class="interests">
    <h1 class="interests-heading">
        <p class="interests-title">Interests</p>
        <p class="interests-subtitle">Better not get me started about those...</p>
    </h1>

    <ul class="card-container">
        <app-infinite-scroller class="cards" [columnsWidth]="'18rem'">
            <ng-template #contentTemplate>
                <li class="card" *ngFor="let card of cards">
                    <app-card [data]="card"></app-card>
                </li>
            </ng-template>
        </app-infinite-scroller>
    </ul>

    <!-- <app-infinite-scroller class="cards" [columnsWidth]="'18rem'">
        <ng-template #contentTemplate>
            <ul class="card-container" *ngFor="let card of cards">
                <li class="card">
                    <app-card [data]="card"></app-card>
                </li>
            </ul>
        </ng-template>
    </app-infinite-scroller> -->
</section>

<section class="timeline" [ngClass]="{'education-active': displayedTimeline==='education', 'experience-active': displayedTimeline==='experience'}">
    <h1 class="timeline-heading">
        <button class="experience-heading" (click)="showTimeline('experience')">Work Experience</button>
        <button class="education-heading" (click)="showTimeline('education')">Education</button>
    </h1>

    <div class="timeline-content">
        <ul class="experience-list">
            <li class="experience-item" *ngFor="let item of workExperience">
                <app-timeline-item [data]="item"></app-timeline-item>
            </li>
        </ul>
        
        <ul class="education-list">
            <li class="education-item" *ngFor="let item of education">
                <app-timeline-item [data]="item"></app-timeline-item>
            </li>
        </ul>

        <fa-icon [icon]="['fas', 'shuffle']" class="shuffle">Next</fa-icon>
    </div>

</section>

<footer>
    <app-footer></app-footer>
</footer>