[data-theme="blue-theme-light"]{
    // --color-primary: #03045e ;
    // --color-secondary: #f1f2f6 ;
    // --color-accent: #a40606 ;
    // --color-tertiary: #ffba08;

    // --color-primary:  #0f38ab;
    // --color-secondary:  #fffdfa ;
    // --color-accent: #b72c7a;
    // --color-tertiary: #ffba08;


    --color-primary:   #131228;
    --color-secondary:   #f9b233;
    --color-accent: #eb4200;
    --color-tertiary: #f67031;

    // --color-primary: #2c2f4c ;
    // --color-secondary:   #daf2f6;
    // --color-accent:  #e95132;
    // --color-tertiary: #ffba08;

    // --color-primary: #433d8d ;
    // --color-secondary: #20aadf;
    // --color-accent:  #f4a627;
    // --color-tertiary: #ffba08;
}

