[data-theme="blue-theme-dark"] {    
    --color-primary: green ;
    --color-secondary: black ;
    --color-accent: purple ;
    --text-color-primary: cyan ;
    --text-color-secondary: gray ;
    --text-color-accent: magenta ;
}
