@keyframes Grow{
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.05);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slide-bottom-in {
    0% {
        transform: translateY(100dvh);
    }
    100% {
        transform: translateY(0%);
    }
}