.main-container {
    height: 100dvh;
    font-family: "Inter", "sans-serif";
    color: var(--color-primary);
}

.navbar {
    height: 112px;
}

.page-content {
    height: calc(100% - 112px);
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}