<div class="main-container">
    <div class="content">
        <div class="heading">
            <p>Hi there, my name is <span class="text-emphasis">Abdoul Aziz MAAZOU</span>.</p>
            <p>But you can call me <span class="text-emphasis">Aziz</span>.</p>
        </div>
        <div class="pitch">
            <p>
                I am a developer. In fact I am in love with code. I started coding from a very young age. My favorite coding
                language is
                Python because of all the benefits it has on your mental health.</p>
            <p>
                I am interested in many fields, mostly anything that is related to video game development. This includes
                programming, of
                course but also UI/UX design, sound design, Artificial Intelligence, Data Science and many more !
            </p>
        </div>
        <div class="call-to-action">
            <app-button color="primary">More about me</app-button>
        </div>
    </div>
</div>
