.presentation {
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: var(--color-primary);
}

.isolate {
    isolation: isolate;
    display: inline;
}

.background-image-container {
    mix-blend-mode: multiply;
    overflow: hidden;
    transition: all .5s;
    border: 0px solid var(--color-primary);
}

.absolute-center.background-image {
    translate: none;
    top: 0px;
    left: 0px;
}
.background-image {
    transition: all .5s, ;
    border: 0rem solid var(--color-primary);
    display: block;
    object-fit: cover; // used only as initial positioning

}


.close-role-selection {
    top: 200%;
    left: 50%;
    position: absolute;
    font-size: 5rem;
    translate: -50% calc(-2rem - 100%);
    color: var(--color-accent);
    opacity: 0;
    transition: all .3s;
    z-index: 3;
}

.close-role-selection::ng-deep button {
    padding: 0rem;
}
.spotlight {
    --visibility: 20%;
    position: absolute;
    width: 200%;
    height: 200%;
    background: radial-gradient(
        circle,
        rgba(0, 0, 0, 0),
        var(--color-primary) var(--visibility),
    );
    mix-blend-mode: multiply;
    pointer-events: none;
    transition: opacity .5s, transform .15s;
}


.text-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    position: relative;
    z-index: 1;
    color: var(--color-secondary);
    padding: 1rem;
    line-height: 2rem;
    transition: opacity .5s;
    overflow: auto;
    padding-right: 50%;
    >* {
        transition: translate .5s;
    }
}

.heading {
    text-align: right;
}

.heading:hover .name {
  color: var(--color-accent);
}
.name {
    font-size: 4rem;
}

.heading:not(:hover) .job {
    color: var(--color-accent);
}

.job, .name {
    transition: color .5s;
}

.speech {
    text-align: justify;
    margin-bottom: 1rem;
    opacity: .7;
}
.speech p+p{
    margin-top: 2rem;
}

.actions {
    list-style: none;
    text-align: center;
}

.actions li {
    display: inline-block;
}
.action {
    display: flex;
    align-items: center;
}
.action span {
    padding: 0rem 1rem;
    font-weight: 700;
}



.action fa-icon {
    color: var(--color-accent);
    // font-size: xx-large;
}



.image-focus {

    .close-role-selection {
        opacity: 1;
        top: calc(50% + calc(min(calc(100dvh - var(--navbar-height)), 100dvw) / 2) );
    }

    .text-content {
        opacity: 0;
        pointer-events: none;
    }
    .heading, .actions{
        translate: -100% 0px
    }
    .speech {
        translate: 100% 0px
    }
    .background-image-container {
        border: 1rem solid var(--color-accent);
        width: min(calc(100dvh - var(--navbar-height)), 100dvw);
        height: min(calc(100dvh - var(--navbar-height)), 100dvw);
        border-radius: 50%;
    }
    .spotlight {
        opacity: 0;
    }
}

@media (max-aspect-ratio: 1) {
    .text-content {
        padding: 1rem;
        align-items: center;
    }
    .speech {
        text-align: center;
        margin-bottom: 1rem;
    }
    .heading {
        text-align: center;
    }
    .actions {
        --app-button-border: 2px solid var(--color-secondary);
    }
    .actions li {
        padding: 1rem 2rem;
    }

}