.main-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--color-secondary);
    border-radius: 16px;
    min-height: 10rem;
    // min-width: 15rem;
    aspect-ratio: 5/6;
    text-align: left;
}

.image-container {
    border-radius: 16px;
    background-color: var(--color-primary);
    flex: 0 0 33%;
    // height: 33%;
    // width: 100%;
    // flex-basis: 33%;
    // flex-grow: 0;
    // flex-shrink: 0;
    // max-height: 33%;
}
.image {
    display: none;
    background-color: var(--color-primary);
    padding: 16px;
    object-fit: contain;
    object-position: center;
    min-width: 100%;
    min-height: 0%;
    flex: 0 0 33%;
}

.heading {
    font-size: larger;
    font-weight: 700;
    color: var(--color-primary);
    margin-top: 36px;
}

.details {
    font-size: small;
    margin-top: 8px;
    flex: 1;
}

.read-more {
    text-align: right;
    margin-top: 24px;
    font-size: small;
    font-weight: 500;
    color: var(--color-secondary);
}
